.navbar .navbar-inner .social-links {
    float: right;
    margin-top: 7px;
    margin-left: 5px;
}
.navbar .navbar-inner .social-links a {
    display: inline-block;
    width: 34px;
    height: 24px;
    overflow: hidden;
    text-indent: -500px;
    background-image: url(http://okfn.be/wp-content/themes/wordpress-theme-okfn/images/social-icons.png);
    background-repeat: no-repeat;
    *text-indent: 0px;
    *line-height: 0px;
    /* old IE having problems with text-indent */

}
.navbar .navbar-inner .social-links a.facebook {
    background-position: center -50px;
}
.navbar .navbar-inner .social-links a.facebook:hover {
    background-position: center -100px;
}
.navbar .navbar-inner .social-links a.twitter {
    background-position: center -150px;
}
.navbar .navbar-inner .social-links a.twitter:hover {
    background-position: center -250px;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #555555;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


@media (min-width: 980px) {
    .navbar {
        height:65px;
    }
    .navbar .brand {
        line-height: 65px;
        padding-top: 0;
    }
    .navbar .brand img {
        margin-top:15px;
        height:35px;
    }
    .navbar .nav > li > a {
        padding: 23px 10px 22px 10px;
    }
    .navbar .sub-brand {
        line-height:60px;
        padding-top:5px;
    }
    .header-text {
        margin-top:15px;
    }
    .navbar .navbar-inner .social-links,
    .navbar .navbar-inner .header-search {
        margin-top:22px;
    }
}
#wpadminbar {display:none; }
html {margin-top: 0px !important;}