/*
@import 'mixins.less';
@import 'base.less';
@import 'masthead.less';
@import 'signup.less';
@import 'icons.less';
@import 'map.less';
@import 'homepage.less';
@import 'about.less';

@import 'iehacks.less';
*/
body {
  background: white;
}

[role=main], .main, .hero {
    background: white;
}

.navbar {
  margin-bottom: 0;
}
.account-masthead .account {
  margin-right: 50px;
}

.account-masthead {
    margin-bottom: 0;

    direction: ltr;
    color: #ccc;
    font: normal 13px/28px sans-serif;
    height: 28px;
    min-height: 28px;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #464646;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#373737),color-stop(18%,#464646));
    background-image: -webkit-linear-gradient(bottom,#373737 0,#464646 5px);
    background-image: -moz-linear-gradient(bottom,#373737 0,#464646 5px);
    background-image: -o-linear-gradient(bottom,#373737 0,#464646 5px);
    background-image: linear-gradient(to top,#373737 0,#464646 5px);
}


.account-masthead .account ul li a {
    line-height: 28px;
    font-weight: normal;
    color: #ccc;
}


.nav > .active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.masthead .debug {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #404040;
}
.navbar .brand img {
  margin: 0;
  height: 65px;
}

.social-links {
    float:right;
}


.site-search {
    margin: 0px;
    float: left;
}

.site-search .field input {
    width: 200px;
    padding: 1px 10px;
    margin-bottom: 1px;
}

.navbar.subbar .nav.pull-right {
    margin-right: 86px;
}

.navbar.subbar .navbar-inner {
    background: white;
    min-height: 0;
    border: none;
}


.navbar.subbar .nav > li > a {
    padding: 1px 10px;
    font-weight: 600;
}

