{% ckan_extends %}

{% block styles %}
{{ super() }}
{#<link rel="stylesheet" href="http://okfn.be/wp-content/themes/wordpress-theme-okfn/style.css"/>#}
<link href="http://assets.okfn.org/themes/okfn/styles.css" rel="stylesheet">
<link rel="stylesheet" href="http://assets.okfn.org/themes/okfn/okf-panel.css"/>
<!--<link rel="stylesheet" href="/css/okfn.css"/>-->
<link rel="stylesheet" href="http://openbelgium.be/wp-content/themes/wordpress-theme-okfn/style.css"/>
<link rel="stylesheet" href="http://openbelgium.be/wp-content/themes/wordpress-theme-okfn/css/grey.css"/>
<link rel="stylesheet" href="/css/openbelgium.css"/>

    <style type="text/css">
    /* This style is copied from the inlined style in http://blog.openbelgium.be */
        @media (min-width: 980px) {


            .navbar .brand {
                line-height: 65px;
            }

            /*

            .navbar .brand img {
                margin-top:15px;
                height:35px;
            }
            */
            .navbar .nav > li > a {
                padding-top:24px;
                padding-bottom:22px;
                font-weight: 300;
            }
            .navbar .sub-brand {
                line-height:60px;
                padding-top:5px;
            }
            .header-text {
                margin-top:0px;
            }
            .navbar .navbar-inner .social-links,
            .navbar .navbar-inner .header-search {
                margin-top:22px;
            }
        }
        /*
        .navbar .brand {font-size: 36px; letter-spacing:-1px; text-indent:-5px; line-height: 62px;}
        @import url(http://fonts.googleapis.com/css?family=Ubuntu);
        .navbar .brand {font-family: 'Ubuntu', sans-serif; font-weight:400;}
        */
    </style>

{#% resource 'ckanext-openbelgium/styles/openbelgium.css' %#}
{% endblock %}


{% block scripts %}
{{ super() }}
        {#
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
        #}
{% endblock %}


