{% ckan_extends %}

{% block header_wrapper %}

{% block header_account %}


    <header class="account-masthead">
        <div class="container">
            {% if c.userobj %}
                <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                    <ul class="unstyled">
                        {{ self.header_account_logged() }}
                    </ul>
                </div>
            {% else %}
                <nav class="account not-authed">
                    <ul class="unstyled">
                        {{ self.header_account_notlogged() }}
                    </ul>
                </nav>
            {% endif %}
            {{ self.header_site_search() }}
        </div>
    </header>
{% endblock %}

<div class="navbar masthead">
    {{ self.header_debug() }}
    <div class="navbar-inner">
        <div class="container">
            <!--
            <div class="okfn-ribbon">
                <a data-toggle="collapse" data-target="#okf-panel">An Open Knowledge Foundation Site</a>
            </div>
            -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {# <a class="brand" href="/"><img src="/images/logo-big-trans.png"></a> #}
            <a title="Home" class="brand" href="http://openbelgium.be">Open Belgium</a>


            <nav class="nav-collapse collapse">
                <div class="social-links">
                    <a class="twitter" href="https://twitter.com/openbelgium">twitter</a>
                </div>
                <ul id="nav" class="nav">
                    <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
                        <a href="http://openbelgium.be/">Home</a></li>
                    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95">
                        <a href="http://openbelgium.be/members/">Ambassadors</a></li>
                    <li id="menu-item-44" class="active menu-item menu-item-type-custom menu-item-object-custom menu-item-44">
                        <a href="http://portal.openbelgium.be/dataset">Data</a></li>
                    <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
                        <a href="http://openbelgium.be/stories/">Stories</a></li>
                </ul>
            </nav>
            <!-- Disabled until I've got separate images and confirmed link addresses -->
        </div>
    </div>
</div>

<div class="navbar subbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {{ self.header_site_navigation_tabs() }}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}




