{% ckan_extends %}

{% block page %}
<div id="okf-panel" class="collapse">
    <iframe src="http://assets.okfn.org/themes/okfn/okf-panel.html" scrolling="no"></iframe>
</div>
  {{ super() }}
{% endblock %}



